
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

* {
    padding: 0;
    margin: 0;
}


body {
    font-family: "Raleway", sans-serif;
    width: 100%;
    background-color:  #E8DAB2;
}

header {
    width: 100%;
    height: 100vh;
    font-size: 54px;
}

header span {
    font-style: italic;
    font-size: 26px;
}

#area-cabecalho {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#imagem-logo {
    right: 0;
    top: 50%;
    transform: translateY(-50%);    
    position: absolute;
    width: 370px;
    height: 192px;
}

article {
    width: 800px;
    padding: 34px 24px 60px 24px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px #090909;
    line-height: 24px;
    border-radius: 10px;
}

article p, ul {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 600;
}
.alinhamento {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}


footer {
    width: 100%;
    height: 50px;
    text-align: right;
    color: #fff;
    background-color: #090909;
    position: fixed;
    bottom: 0;
}

footer p {
    position: absolute;
    padding:16px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 150%;
}

footer a {
    color: #35B1D2;
    direction: none;
}